<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Signin | Page</title>
</head>
<body>
	<section>
		<div class="signin-container" style="">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">
							<strong>Sign In </strong>
						</h3>
					</div>
					<div th:if="${param.error}" class="alert alert-danger mt-4">
						Invalid email or password
					</div>
					<!-- <div th:if="${param.change}" class="alert alert-success mt-4">
						You have been logged out
					</div>
					<div th:if="${param.logout}" class="alert alert-success mt-4">
						<p th:text="${param.change}"></p>
					</div> -->
					 <div th:if="${param.logout}" class="alert alert-success">
                         You have been logged out
                     </div>
					<div class="panel-body mt-3">
						<form class="form" th:action="@{/processlogin}" method="post">
							<div class="form-group">
								<label for="username">Email</label> 
								<input
									type="email" 
									class="form-control" 
									id="username"
									placeholder="Enter email"
									name="username"
									>
							</div>
							<div class="form-group mt-4">
								<label for="password">Password</label> 
								<input
									type="password" 
									class="form-control" 
									id="password"
									placeholder="Password"
									name="password">
							</div>
							<div class="text-end mt-2">
								<a th:href="@{/forgot}" class="text-info">Forgot Password</a>
							</div>
							<div id="signup-link" class="text-end mt-2">
								<a href="/signup" class="text-info">Signup here</a>
							</div>
							<div class="container text-center">
								 <button type="submit" class="btn btn-sm btn-default text-black bg-white p-2">Signin</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>